@import 'colors';

.loading-container {	
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
	z-index:4400;
	
	.loading {		
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		width: 50vh;
		height: 50vh;
		max-width: 200px;
		max-height: 200px;
		animation-name: rotateLoader;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(.50,0,.50,1);
	}
}

@keyframes rotateLoader {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}