/* Charte couleurs */
.bleuFlocon {
  background: #4FC2B1 !important;
  color: #fff !important; }

.bleuFlocon svg {
  fill: #fff !important; }

.bleuFlocon-bg {
  background: #4FC2B1 !important; }

.text-bleuFlocon {
  color: #4FC2B1 !important; }

.text-bleuFlocon.button svg {
  fill: #4FC2B1 !important; }

.stroke.button.bleuFlocon {
  color: #4FC2B1 !important;
  border-color: #4FC2B1 !important; }

.stroke.button.bleuFlocon svg {
  fill: #4FC2B1 !important; }

.borderBleuFlocon {
  border-color: #4FC2B1; }

/* -- */
.tealBg {
  background: #95DAD0 !important;
  color: #fff !important; }

.tealBg-bg {
  background: #95DAD0 !important; }

.tealBg svg {
  fill: #fff !important; }

.text-tealBg {
  color: #95DAD0 !important; }

.text-tealBg.button svg {
  fill: #95DAD0 !important; }

.stroke.button.tealBg {
  color: #95DAD0 !important;
  border-color: #95DAD0 !important; }

.stroke.button.tealBg svg {
  fill: #95DAD0 !important; }

.borderTealBg {
  border-color: #95DAD0; }

/* -- */
.brownH1 {
  background: #AC7A47 !important;
  color: #fff !important; }

.brownH1 svg {
  fill: #fff !important; }

.text-brownH1 {
  color: #AC7A47 !important; }

.text-brownH1.button svg {
  fill: #AC7A47 !important; }

.stroke.button.brownH1 {
  color: #AC7A47 !important;
  border-color: #AC7A47 !important; }

.stroke.button.brownH1 svg {
  fill: #AC7A47 !important; }

.borderBrownH1 {
  border-color: #AC7A47; }

/* -- */
.brownSuperfood {
  background: #C78944 !important;
  color: #fff !important; }

.brownSuperfood svg {
  fill: #fff !important; }

.text-brownSuperfood {
  color: #C78944 !important; }

.text-brownSuperfood.button svg {
  fill: #C78944 !important; }

.stroke.button.brownSuperfood {
  color: #C78944 !important;
  border-color: #C78944 !important; }

.stroke.button.brownSuperfood svg {
  fill: #C78944 !important; }

.borderBrownSuperfood {
  border-color: #C78944; }

/* -- */
.whiteBg {
  background: #FFFFFF !important;
  color: #fff !important; }

.whiteBg-bg {
  background: #FFFFFF !important; }

.whiteBg svg {
  fill: #fff !important; }

.text.whiteBg {
  color: #FFFFFF !important; }

.text.whiteBg.button svg {
  fill: #FFFFFF !important; }

.stroke.button.whiteBg {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important; }

.stroke.button.whiteBg svg {
  fill: #FFFFFF !important; }

.borderWhiteBg {
  border-color: #FFFFFF; }

/* -- */
.yellowBg {
  background: #FCF3EB !important;
  color: #fff !important; }

.yellowBg-bg {
  background: #FCF3EB !important; }

.yellowBg svg {
  fill: #fff !important; }

.text-yellowBg {
  color: #FCF3EB !important; }

.text-yellowBg.button svg {
  fill: #FCF3EB !important; }

.stroke.button.yellowBg {
  color: #FCF3EB !important;
  border-color: #FCF3EB !important; }

.stroke.button.yellowBg svg {
  fill: #FCF3EB !important; }

.borderYellowBg {
  border-color: #FCF3EB; }

/* -- */
.romarin {
  background: #57B75F !important;
  color: #fff !important; }

.romarin svg {
  fill: #fff !important; }

.text-romarin {
  color: #57B75F !important; }

.text-romarin.button svg {
  fill: #57B75F !important; }

.stroke.button.romarin {
  color: #57B75F !important;
  border-color: #57B75F !important; }

.stroke.button.romarin svg {
  fill: #57B75F !important; }

.borderRomarin {
  border-color: #57B75F; }

/* -- */
.poivreNoir {
  background: #A09E9E !important;
  color: #fff !important; }

.poivreNoir svg {
  fill: #fff !important; }

.text-poivreNoir {
  color: #A09E9E !important; }

.text-poivreNoir.button svg {
  fill: #A09E9E !important; }

.stroke.button.poivreNoir {
  color: #A09E9E !important;
  border-color: #A09E9E !important; }

.stroke.button.poivreNoir svg {
  fill: #A09E9E !important; }

.borderPoivreNoir {
  border-color: #A09E9E; }

/* -- */
.curry {
  background: #FBB231 !important;
  color: #fff !important; }

.curry svg {
  fill: #fff !important; }

.text-curry {
  color: #FBB231 !important; }

.text-curry.button svg {
  fill: #FBB231 !important; }

.stroke.button.curry {
  color: #FBB231 !important;
  border-color: #FBB231 !important; }

.stroke.button.curry svg {
  fill: #FBB231 !important; }

.borderCurry {
  border-color: #FBB231; }

/* -- */
.fenouil {
  background: #B8D137 !important;
  color: #fff !important; }

.fenouil svg {
  fill: #fff !important; }

.text-fenouil {
  color: #B8D137 !important; }

.text-fenouil.button svg {
  fill: #B8D137 !important; }

.stroke.button.fenouil {
  color: #B8D137 !important;
  border-color: #B8D137 !important; }

.stroke.button.fenouil svg {
  fill: #B8D137 !important; }

.borderFenouil {
  border-color: #B8D137; }

/* -- */
.seldeguerande {
  background: #164E87 !important;
  color: #fff !important; }

.seldeguerande svg {
  fill: #fff !important; }

.text-seldeguerande {
  color: #164E87 !important; }

.text-seldeguerande.button svg {
  fill: #164E87 !important; }

.stroke.button.seldeguerande {
  color: #164E87 !important;
  border-color: #164E87 !important; }

.stroke.button.seldeguerande svg {
  fill: #164E87 !important; }

.borderseldeguerande {
  border-color: #164E87; }

/* -- */
.white {
  background: #FFFFFF !important;
  color: #fff !important; }

.white svg {
  fill: #fff !important; }

.text-white {
  color: #FFFFFF !important;
  text-shadow: 0 0 0.05em #FFFFFF; }

.no-shadow {
  text-shadow: 0; }

.text-white.button svg {
  fill: #FFFFFF !important; }

.stroke.button.white {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important; }

.stroke.button.white svg {
  fill: #FFFFFF !important; }

.borderwhite {
  border-color: #FFFFFF; }
