/* Charte couleurs */
.bleuFlocon {
  background: #4FC2B1 !important;
  color: #fff !important; }

.bleuFlocon svg {
  fill: #fff !important; }

.bleuFlocon-bg {
  background: #4FC2B1 !important; }

.text-bleuFlocon {
  color: #4FC2B1 !important; }

.text-bleuFlocon.button svg {
  fill: #4FC2B1 !important; }

.stroke.button.bleuFlocon {
  color: #4FC2B1 !important;
  border-color: #4FC2B1 !important; }

.stroke.button.bleuFlocon svg {
  fill: #4FC2B1 !important; }

.borderBleuFlocon {
  border-color: #4FC2B1; }

/* -- */
.tealBg {
  background: #95DAD0 !important;
  color: #fff !important; }

.tealBg-bg {
  background: #95DAD0 !important; }

.tealBg svg {
  fill: #fff !important; }

.text-tealBg {
  color: #95DAD0 !important; }

.text-tealBg.button svg {
  fill: #95DAD0 !important; }

.stroke.button.tealBg {
  color: #95DAD0 !important;
  border-color: #95DAD0 !important; }

.stroke.button.tealBg svg {
  fill: #95DAD0 !important; }

.borderTealBg {
  border-color: #95DAD0; }

/* -- */
.brownH1 {
  background: #AC7A47 !important;
  color: #fff !important; }

.brownH1 svg {
  fill: #fff !important; }

.text-brownH1 {
  color: #AC7A47 !important; }

.text-brownH1.button svg {
  fill: #AC7A47 !important; }

.stroke.button.brownH1 {
  color: #AC7A47 !important;
  border-color: #AC7A47 !important; }

.stroke.button.brownH1 svg {
  fill: #AC7A47 !important; }

.borderBrownH1 {
  border-color: #AC7A47; }

/* -- */
.brownSuperfood {
  background: #C78944 !important;
  color: #fff !important; }

.brownSuperfood svg {
  fill: #fff !important; }

.text-brownSuperfood {
  color: #C78944 !important; }

.text-brownSuperfood.button svg {
  fill: #C78944 !important; }

.stroke.button.brownSuperfood {
  color: #C78944 !important;
  border-color: #C78944 !important; }

.stroke.button.brownSuperfood svg {
  fill: #C78944 !important; }

.borderBrownSuperfood {
  border-color: #C78944; }

/* -- */
.whiteBg {
  background: #FFFFFF !important;
  color: #fff !important; }

.whiteBg-bg {
  background: #FFFFFF !important; }

.whiteBg svg {
  fill: #fff !important; }

.text.whiteBg {
  color: #FFFFFF !important; }

.text.whiteBg.button svg {
  fill: #FFFFFF !important; }

.stroke.button.whiteBg {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important; }

.stroke.button.whiteBg svg {
  fill: #FFFFFF !important; }

.borderWhiteBg {
  border-color: #FFFFFF; }

/* -- */
.yellowBg {
  background: #FCF3EB !important;
  color: #fff !important; }

.yellowBg-bg {
  background: #FCF3EB !important; }

.yellowBg svg {
  fill: #fff !important; }

.text-yellowBg {
  color: #FCF3EB !important; }

.text-yellowBg.button svg {
  fill: #FCF3EB !important; }

.stroke.button.yellowBg {
  color: #FCF3EB !important;
  border-color: #FCF3EB !important; }

.stroke.button.yellowBg svg {
  fill: #FCF3EB !important; }

.borderYellowBg {
  border-color: #FCF3EB; }

/* -- */
.romarin {
  background: #57B75F !important;
  color: #fff !important; }

.romarin svg {
  fill: #fff !important; }

.text-romarin {
  color: #57B75F !important; }

.text-romarin.button svg {
  fill: #57B75F !important; }

.stroke.button.romarin {
  color: #57B75F !important;
  border-color: #57B75F !important; }

.stroke.button.romarin svg {
  fill: #57B75F !important; }

.borderRomarin {
  border-color: #57B75F; }

/* -- */
.poivreNoir {
  background: #A09E9E !important;
  color: #fff !important; }

.poivreNoir svg {
  fill: #fff !important; }

.text-poivreNoir {
  color: #A09E9E !important; }

.text-poivreNoir.button svg {
  fill: #A09E9E !important; }

.stroke.button.poivreNoir {
  color: #A09E9E !important;
  border-color: #A09E9E !important; }

.stroke.button.poivreNoir svg {
  fill: #A09E9E !important; }

.borderPoivreNoir {
  border-color: #A09E9E; }

/* -- */
.curry {
  background: #FBB231 !important;
  color: #fff !important; }

.curry svg {
  fill: #fff !important; }

.text-curry {
  color: #FBB231 !important; }

.text-curry.button svg {
  fill: #FBB231 !important; }

.stroke.button.curry {
  color: #FBB231 !important;
  border-color: #FBB231 !important; }

.stroke.button.curry svg {
  fill: #FBB231 !important; }

.borderCurry {
  border-color: #FBB231; }

/* -- */
.fenouil {
  background: #B8D137 !important;
  color: #fff !important; }

.fenouil svg {
  fill: #fff !important; }

.text-fenouil {
  color: #B8D137 !important; }

.text-fenouil.button svg {
  fill: #B8D137 !important; }

.stroke.button.fenouil {
  color: #B8D137 !important;
  border-color: #B8D137 !important; }

.stroke.button.fenouil svg {
  fill: #B8D137 !important; }

.borderFenouil {
  border-color: #B8D137; }

/* -- */
.seldeguerande {
  background: #164E87 !important;
  color: #fff !important; }

.seldeguerande svg {
  fill: #fff !important; }

.text-seldeguerande {
  color: #164E87 !important; }

.text-seldeguerande.button svg {
  fill: #164E87 !important; }

.stroke.button.seldeguerande {
  color: #164E87 !important;
  border-color: #164E87 !important; }

.stroke.button.seldeguerande svg {
  fill: #164E87 !important; }

.borderseldeguerande {
  border-color: #164E87; }

/* -- */
.white {
  background: #FFFFFF !important;
  color: #fff !important; }

.white svg {
  fill: #fff !important; }

.text-white {
  color: #FFFFFF !important;
  text-shadow: 0 0 0.05em #FFFFFF; }

.no-shadow {
  text-shadow: 0; }

.text-white.button svg {
  fill: #FFFFFF !important; }

.stroke.button.white {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important; }

.stroke.button.white svg {
  fill: #FFFFFF !important; }

.borderwhite {
  border-color: #FFFFFF; }

:root {
  font-size: calc(1vw + 1vh + .5vmin); }

/* Classes de la slide Concept */
@media (max-width: 1500px) and (min-height: 800px) {
  #fullpage #section1 .title {
    margin-top: 60px;
    margin-bottom: -60px; } }

/* Placements phablet */
@media (min-width: 767px) {
  .salt {
    width: 10.5rem;
    left: calc(50% - 17rem);
    top: calc(50% - 7rem);
    text-align: left; }
  .sodium {
    width: 11rem;
    left: calc(50% - 19rem);
    top: calc(40% + 1em);
    text-align: left; }
  .cajou {
    width: 11.5rem;
    left: calc(50% - 17rem);
    top: calc(50% + 7rem);
    text-align: left; }
  .sesame {
    width: 12rem;
    left: calc(50% + 10rem);
    top: calc(50% - 7rem);
    text-align: left; }
  .pois {
    width: 11rem;
    left: calc(50% + 10rem);
    top: calc(50% + 3rem);
    text-align: left; }
  .icons5 {
    width: 30rem;
    left: calc(50% - 3rem);
    top: calc(50% + 8.5rem);
    text-align: left; }
  .concept3-adjust {
    padding-bottom: 7.5%; } }

@media (min-width: 767px) and (min-height: 760px) {
  .concept3-adjust {
    padding-bottom: 15%; }
  .salt {
    width: 10.5rem;
    left: calc(50% - 16rem);
    top: calc(50% - 6rem); }
  .sodium {
    width: 11rem;
    left: calc(50% - 18rem);
    top: calc(50% + 1em); }
  .cajou {
    width: 11.5rem;
    left: calc(50% - 16rem);
    top: calc(50% + 7rem); }
  .sesame {
    width: 12rem;
    left: calc(50% + 8rem);
    top: calc(50% - 6rem); }
  .pois {
    width: 11rem;
    left: calc(50% + 9rem);
    top: calc(50% + 3rem); } }

/* Placements desktop */
@media (min-width: 992px) {
  .salt {
    width: 15rem;
    left: calc(50% - 21rem);
    top: calc(50% - 7rem);
    text-align: left; }
  .sodium {
    width: 11rem;
    left: calc(50% - 20rem);
    top: calc(40% + 0.2rem);
    text-align: left; }
  .cajou {
    width: 17rem;
    left: calc(50% - 22rem);
    top: calc(50% + 6rem);
    text-align: left; }
  .sesame {
    width: 16rem;
    left: calc(50% + 8rem);
    top: calc(50% - 7rem);
    text-align: right; }
  .pois {
    width: 14rem;
    left: calc(50% + 7rem);
    top: calc(50% + 1rem);
    text-align: right; }
  .fibres {
    width: 8rem;
    left: calc(50% + 20.5rem);
    top: calc(50% + 1rem); }
  .icons5 {
    width: 30rem;
    left: calc(50% + 1rem);
    top: calc(50% + 6.5rem);
    text-align: left; }
  .concept3-adjust {
    padding-bottom: 2.5%; } }

@media (min-width: 992px) and (min-height: 750px) {
  .concept3-adjust {
    padding-bottom: 10%; }
  .salt {
    width: 15rem;
    left: calc(50% - 19rem);
    top: calc(50% - 7rem); }
  .sodium {
    width: 11rem;
    left: calc(50% - 18rem);
    top: calc(50% + 0.2rem); }
  .cajou {
    width: 17rem;
    left: calc(50% - 20rem);
    top: calc(50% + 6rem); }
  .sesame {
    width: 16rem;
    left: calc(50% + 6rem);
    top: calc(50% - 7rem); }
  .pois {
    width: 14rem;
    left: calc(50% + 5.5rem);
    top: calc(50% + 1rem); }
  .fibres {
    width: 8rem;
    left: calc(50% + 12rem);
    top: calc(50% - 3rem); }
  .conceptEndIcons {
    height: 11vh; } }

@media (min-width: 1500px) and (min-height: 795px) {
  .concept3-adjust {
    padding-bottom: 13%;
    margin-top: -60px !important; } }

/* Placements mobile */
.phone-salt {
  width: 9em;
  left: calc(75% - 2.5em);
  top: calc(45% - 11em);
  text-align: left; }

.phone-sodium {
  width: 8em;
  left: calc(75% - 11.4em);
  top: calc(45% - 10.8em);
  text-align: left; }

.phone-cajou {
  width: 10em;
  left: calc(75% - 10em);
  top: calc(50% + 7em);
  text-align: left; }

.phone-sesame {
  width: 6em;
  left: calc(77% + 6em);
  top: calc(50% - 10.8em);
  text-align: left; }

.phone-pois {
  width: 9em;
  left: calc(75% + 3em);
  top: calc(50% + 7em);
  text-align: left; }

/* Section concept */
.conceptTitle {
  font-size: 4em; }

.conceptSubText {
  font-size: 1.8em; }

.conceptImageMobile {
  height: 35vh; }

.conceptFooter {
  padding-top: 40px; }

.conceptIcon {
  align-self: center;
  width: 8vw;
  min-width: 40px;
  height: 8vw;
  min-height: 40px;
  max-height: 140px;
  max-width: 140px;
  margin-bottom: 2vh; }
  @media (min-width: 1199px) {
    .conceptIcon {
      width: 6vw;
      height: 6vw; } }

@media (max-width: 767px) {
  .conceptIcon {
    width: 30vw;
    height: 30vw;
    min-height: 40px;
    min-width: 40px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 15%;
    align-self: center; } }

.desktopBiscuit {
  width: 20vw;
  max-width: 200px; }

.conceptMidIcon {
  height: 12vh;
  min-height: 80px;
  max-height: 110px; }

.conceptEndIcons {
  height: 13vh;
  min-height: 80px;
  max-height: 110px; }

.conceptSubtitleMobile {
  font-family: IntroScriptR;
  word-spacing: 0.3rem;
  font-size: 1.2em; }

.conceptpattern {
  bottom: 0;
  position: absolute;
  width: 1200px;
  background-image: url("../assets/custom/pattern.png"); }

.conceptBodyMobile {
  font-family: IntroCondRegular;
  font-size: 0.8em;
  line-height: 1.4em; }

.conceptSubtitle {
  font-family: IntroScriptR;
  word-spacing: 0.3rem;
  font-size: 1.1rem; }

.conceptBody {
  font-family: IntroCondRegular;
  font-size: 0.7rem; }

.conceptEmphase {
  font-family: IntroCondRegular;
  font-size: 0.9rem; }

.arrowedComponents {
  height: 313px;
  /*Full size : 348 x 464px*/
  width: 418px; }

.arrowedComponentsTablet {
  height: 216px;
  width: 288px; }

.fp-controlArrow.fp-prev {
  border: none;
  background-image: url("../assets/icons/arrow2.png");
  background-position: center center;
  background-size: cover;
  width: 80px;
  height: 80px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2500;
  margin-top: 0%;
  top: 280px; }
  @media (min-width: 767px) {
    .fp-controlArrow.fp-prev {
      width: 80px;
      height: 80px; } }

.fp-controlArrow.fp-next {
  border: none;
  background-image: url("../assets/icons/arrow2.png");
  background-position: center center;
  background-size: cover;
  width: 80px;
  height: 80px;
  z-index: 2500;
  margin-top: 0%;
  top: 280px; }
  @media (min-width: 767px) {
    .fp-controlArrow.fp-next {
      width: 80px;
      height: 80px; } }

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

#ModalSuperfood .modal-dialog {
  border: 10px solid #4FC2B1;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #333;
  position: absolute; }
  #ModalSuperfood .modal-dialog h1 {
    color: #333;
    font-size: 1.5rem; }

.superfood {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFBF7; }

.biscuit1 {
  height: 25vh;
  top: -2vh;
  left: -6vh; }

.biscuit2 {
  height: 25vh;
  top: 15vh;
  right: 0vh; }

#section1 {
  /* Animation between slideshow slides */ }
  @media (max-width: 767px) {
    #section1 .conceptIcon {
      width: 40%;
      height: 40%;
      max-width: 40px;
      max-height: 40px; } }
  #section1 h1.title {
    position: relative;
    top: 55px;
    left: 50%;
    transform: translateX(-50%); }
  #section1 .bioVegetalNaturelFrance {
    position: absolute;
    top: 75%;
    left: 0%;
    z-index: 100;
    width: 100%;
    float: left; }
  #section1 #package-content .package-left {
    position: absolute;
    left: -12vw;
    bottom: -170px;
    width: calc(22vw + 22vh);
    transform: rotate(24deg);
    z-index: 99; }
  #section1 #package-content .package-right {
    position: absolute;
    right: -6vw;
    bottom: -26px;
    width: calc(14vw + 12vh);
    transform: rotate(42deg);
    z-index: 100; }
  #section1 .slide {
    padding-top: 4vh; }
    #section1 .slide#slide3 .fp-tableCell {
      position: relative;
      top: -10vh; }
  #section1 .fp-slidesContainer {
    width: 100% !important;
    transform: none !important; }
  #section1 .fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s linear; }
    #section1 .fp-slide #conceptMainImage {
      height: 17vw;
      max-height: 250px;
      left: 26%;
      top: -15vh;
      transition: left .7s linear, height .7s linear, top .7s linear; }
  #section1 .fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    position: relative; }
    #section1 .fp-slide.active #conceptMainImage {
      left: 50%;
      top: -7vh;
      height: 45vh;
      max-height: 250px;
      transition: left .7s linear, height .7s linear, top .7s linear; }

@media (max-width: 767px) {
  #section1 .container {
    position: relative;
    top: 50vh;
    transform: translateY(-50%); } }

@media (min-width: 767px) and (max-width: 805px) {
  #ModalSuperfood .modal-dialog {
    position: relative;
    top: 0 !important;
    left: 0;
    transform: translate(0, -40%);
    margin-top: 50%; } }

@media (min-height: 600px) {
  .conceptSub {
    margin-bottom: 5%; }
  .conceptSub2 {
    margin-top: 5%; } }
